<div class="col-lg-4">
{% for item in contactsocialitems %}
  
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              {% include "@atoms/booticons/booticons.twig" with {
                booticon: item.contactsocialicon,
              } %}
              <div>
                {% include "@atoms/heading3/heading3.twig" with {
                heading3_content: item.contactsocialh3,
              } %}
                {% include "@atoms/paragraph/paragraph.twig" with {
                para_content: item.contactsocialpara,
              } %}
              </div>
            </div><!-- End Info Item -->
{% endfor %}

          </div>