<section id="real-estate" class="real-estate section">

	<div class="container">

		<div class="row gy-4">

			{% for item in propertiesitems %}
				{% include "@molecules/propertiescard/propertiescard.twig" with {
        propertiescardimg:   item.propertiesimg,
        propertiescardspan:   item.propertiesspan,
        propertiescardspan_style:   item.propertiesspan_style,
        propertiescardh3url:   item.propertiesh3url,
        propertiescardh3:   item.propertiesh3,
        d1items: item.d11items,
		d2items: item.d21items,
    } %}
			{% endfor %}


		</div>

	</div>

</section>
