.heading2{
    font-family: "Raleway", sans-serif;
    color: #1b1b1b;
}
.heading2--1{
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 56px;
    font-weight: 900;
    text-transform: uppercase;
}
.heading2--section{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}