{# <section id="hero" class="hero section dark-background">

	<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

		<div class="carousel-indicators">
			<button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>

		

			{% for item in hero_items %}
				<div class="carousel-item {% if loop.first %}active{% endif %}">

					{% include "@molecules/herobanner/herobanner.twig" with {
                hero_img: item.img,
                hero_img_style: item.imgstyle,
                herotext_para: item.content,
                herotext_para_style: item.pstyle,
                herotext_heading: item.heading,
                herotext_heading_style: item.headingstyle,
                herotext_button_url: item.url,
                herotext_button: item.link_content,
                herotext_button_style: item.buttonstyle,
              } %}

				</div>
			{% endfor %}
		

		<button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>


	</div>

</section> #}

<section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

        
			{% for item in hero_items %}
				<div class="carousel-item {% if loop.first %}active{% endif %}">

					{% include "@molecules/herobanner/herobanner.twig" with {
                hero_img: item.img,
                hero_img_style: item.imgstyle,
                herotext_para: item.content,
                herotext_para_style: item.pstyle,
                herotext_heading: item.heading,
                herotext_heading_style: item.headingstyle,
                herotext_button_url: item.url,
                herotext_button: item.link_content,
                herotext_button_style: item.buttonstyle,
              } %}

				</div>
			{% endfor %}

        
        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"><li data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true"></li><li data-bs-target="#hero-carousel" data-bs-slide-to="1" class=""></li><li data-bs-target="#hero-carousel" data-bs-slide-to="2" class=""></li></ol>

      </div>

    </section>