    {% set cardtitle = content.field_simple_card_title %}
    {# {{ dump(content['#attributes']) }} #}
    {% set cardsubtitle = content.field_simple_card_subtitle %}
    

    {% set card_content_array = [] %}
    {% for item in content["field_simple_card"]["#items"] %}
    {% set image = item.entity.field_card_image.entity.uri.value %}
    {% set imags = file_url(image) %}

    
    {% set title = item.entity.field_card_title.value %}
    {% set content = item.entity.field_card_content.value %}
    {% set buttonurl = item.entity.field_hero_button.value[0].uri %}
    {% set buttontxt = item.entity.field_hero_button.value[0].title %}

    {% set card_content_array = card_content_array|merge([
        {
                        'img': imags,
                        'heading': title,
                        'content': content,
                        'url': buttonurl,
                        'link_content': buttontxt
                        
        }
    ]) %}
   {% endfor %}



<div >
    {% include "@organisms/component2/component2.twig" with {
                       comp2_title: cardtitle,
                       comp2_title_style: 'title--2',
                       para_content: cardsubtitle,
                       card_item: card_content_array
                       
                    } %}
</div>
