.stats .stats-item {
    background-color: #ffffff;
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  .stats .stats-item i {
    background-color: #ffffff;
    color: #2eca6a;
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
  }
  
  .stats .stats-item span {
    color: #1b1b1b;
    font-size: 36px;
    display: block;
    font-weight: 600;
  }
  
  .stats .stats-item p {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
  }
  