<div class="col-lg-8 " data-aos="fade-up">

	<div class="portfolio-description">
		{% include "@atoms/heading2/heading2.twig" with {
                heading2_content: propertydetailsh2,
              } %}
		{% for item in propertydetailsitems %}
			{% include "@atoms/paragraph/paragraph.twig" with {
                para_content: item.para,
              } %}
		{% endfor %}

		{% include "@molecules/propertydetailsdiv/propertydetailsdiv.twig" with {
                propertydetailsdivspan: propertydetailsspan,
                propertydetailsdivimg: propertydetailsimg,
                propertydetailsdivh3: propertydetailsh3,
                propertydetailsdivh4: propertydetailsh4,
              } %}
	</div>
	<!-- End Portfolio Description -->

	<!-- Tabs -->
	<ul class="nav nav-pills mb-3" role="tablist">
		<li>
			<a class="nav-link active" data-bs-toggle="pill" href="#real-estate-2-tab1" aria-selected="true" role="tab">{{propertydetails_Video}}</a>
		</li>
		<li>
			<a class="nav-link" data-bs-toggle="pill" href="#real-estate-2-tab2" aria-selected="false" tabindex="-1" role="tab">{{propertydetails_FloorPlans}}</a>
		</li>
		<li>
			<a class="nav-link" data-bs-toggle="pill" href="#real-estate-2-tab3" aria-selected="false" tabindex="-1" role="tab">{{propertydetails_Location}}</a>
		</li>
	</ul>
	<!-- End Tabs -->

	<!-- Tab Content -->
	<div class="tab-content">

		<div class="tab-pane fade show active" id="real-estate-2-tab1" role="tabpanel"></div>
		<!-- End Tab 1 Content -->

		<div class="tab-pane fade" id="real-estate-2-tab2" role="tabpanel">
			{% include "@atoms/image/image.twig" with {
            image_src: propertydetailstabimg,
        } %}
		</div>
		<!-- End Tab 2 Content -->

		<div class="tab-pane fade" id="real-estate-2-tab3" role="tabpanel">
			<iframe style="border:0; width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
		<!-- End Tab 3 Content -->

	</div>
	<!-- End Tab Content -->

</div>
