.heading3{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    color: #1b1b1b;
    text-decoration: none;
}
.heading3--card{
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 22px;
    transition: ease-in-out 0.3s;
}