.service-details .service-box {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  }
  
  .service-details .service-box+.service-box {
    margin-top: 30px;
  }
  
  .service-details .service-box h4 {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid color-mix(in srgb, #444444, transparent 92%);
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  
  .service-details .services-list {
    background-color: #ffffff;
  }
  
  .service-details .services-list a {
    color: color-mix(in srgb, #444444, transparent 20%);
    background-color: color-mix(in srgb, #444444, transparent 96%);
    display: flex;
    align-items: center;
    padding: 12px 15px;
    margin-top: 15px;
    transition: 0.3s;
  }
  
  .service-details .services-list a:first-child {
    margin-top: 0;
  }
  
  .service-details .services-list a i {
    font-size: 16px;
    margin-right: 8px;
    color: #2eca6a;
  }
  
  .service-details .services-list a.active {
    color: #ffffff;
    background-color: #2eca6a;
  }
  
  .service-details .services-list a.active i {
    color: #ffffff;
  }
  
  .service-details .services-list a:hover {
    background-color: color-mix(in srgb, #2eca6a, transparent 95%);
    color: #2eca6a;
  }
  
  .service-details .download-catalog a {
    color: #444444;
    display: flex;
    align-items: center;
    padding: 10px 0;
    transition: 0.3s;
    border-top: 1px solid color-mix(in srgb, #444444, transparent 90%);
  }
  
  .service-details .download-catalog a:first-child {
    border-top: 0;
    padding-top: 0;
  }
  
  .service-details .download-catalog a:last-child {
    padding-bottom: 0;
  }
  
  .service-details .download-catalog a i {
    font-size: 24px;
    margin-right: 8px;
    color: #2eca6a;
  }
  
  .service-details .download-catalog a:hover {
    color: #2eca6a;
  }
  
  .service-details .help-box {
    background-color: #2eca6a;
    color: #ffffff;
    margin-top: 30px;
    padding: 30px 15px;
  }
  
  .service-details .help-box .help-icon {
    font-size: 48px;
  }

  .help-box i, span{
    color: #ffffff;
  }
  
  .service-details .help-box h4,
  .service-details .help-box a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .service-details img {
    margin-bottom: 20px;
  }
  
  .service-details h3 {
    font-size: 26px;
    font-weight: 700;
  }
  
  .service-details p {
    font-size: 15px;
  }
  
  .service-details ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .service-details ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
  }
  
  .service-details ul i {
    font-size: 20px;
    margin-right: 8px;
    color: #2eca6a;
  }
.service-box{
    display: flex;
    flex-direction: column;
}