<div class="youtube-shorts-item">
<iframe
  {# width="315"
  height="560" #}
  src="https://www.youtube.com/embed/{{ id }}?feature=share"
  title="YouTube Shorts"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen>
</iframe>
</div>

